In [1]:
import pandas as pd
import datetime
dfc = pd.read_excel('privatehome6.xls', sheet_name='Trend')

dfc['Hour'] = dfc['Hour'].apply(lambda x: str(x)[-8:])
dfc.loc[dfc.Hour == '00:00:00', 'Day'] = dfc.Day + datetime.timedelta(days=1)
dfc = dfc[dfc.Day.dt.year == 2012]

dfc['datetime'] = dfc['Day'].astype(str) + ' ' + dfc['Hour'].astype(str)
dfc['datetime'] = pd.to_datetime(dfc['datetime'])

dfc = pd.concat([dfc, dfc, dfc])

dfc.sort_values(by=['datetime'], inplace = True)
dfc.reset_index(drop=True, inplace=True)

d = [dfc.datetime[0]]

for i in range(366):
    for j in range(24):
        for z in range(int(60/5)):
            d.append(d[-1]+datetime.timedelta(minutes=5))
            
d.pop()

dfc.datetime = pd.Series(d)

dfc = dfc[~(dfc.Day.dt.date == datetime.date(day=29, month=2, year=2012))]

dfc.datetime = dfc.datetime.apply(lambda x: x.replace(year=2013))

In [2]:
dfc

,Day,Year,Month,Week,Week Day,Hour,kWh,kW,datetime
0,2012-01-01,2011,12,53,7,00:00:00,0.095168,0.380672,2013-01-01 00:00:00
1,2012-01-01,2011,12,53,7,00:00:00,0.095168,0.380672,2013-01-01 00:05:00
2,2012-01-01,2011,12,53,7,00:00:00,0.095168,0.380672,2013-01-01 00:10:00
3,2012-01-01,2012,1,1,1,00:15:00,0.113863,0.455452,2013-01-01 00:15:00
4,2012-01-01,2012,1,1,1,00:15:00,0.113863,0.455452,2013-01-01 00:20:00
...,...,...,...,...,...,...,...,...,...
105403,2012-12-31,2012,12,53,2,23:30:00,0.109415,0.437660,2013-12-31 23:35:00
105404,2012-12-31,2012,12,53,2,23:30:00,0.109415,0.437660,2013-12-31 23:40:00
105405,2012-12-31,2012,12,53,2,23:45:00,0.090612,0.362448,2013-12-31 23:45:00
105406,2012-12-31,2012,12,53,2,23:45:00,0.090612,0.362448,2013-12-31 23:50:00
105407,2012-12-31,2012,12,53,2,23:45:00,0.090612,0.362448,2013-12-31 23:55:00

In [2]:
# import required module
import os
# assign directory
directory = 'result_interp'

# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)

        prod_df = pd.read_csv(f)

        prod_df.datetime = pd.to_datetime(prod_df.datetime)

        df = pd.merge(prod_df, dfc, how='inner', on='datetime')

        df = df[['datetime', 'P', 'kWh', 'kW']]

        df.P = df.P.apply(lambda x: x/1000)

        df['El_KW'] = df.P - df.kW

        df['Hora'] = df.datetime.apply(lambda x: x.hour+x.minute/60.0)

        df.to_excel('dfs_para_scripts/'+filename+'.xlsx')
        
        display(df)

result_interp\belem_SA2_2kWp_2013.csv

NameError: name 'dfc' is not defined

In [7]:
execfile('teste_porcentagem.py')

In [8]:
import pandas as pd
import os

directory = 'dfs_para_scripts'



# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)
        
        eb, ebp, soc, df = sistfuzzy(f)

        df['Eb'] = eb

        df['SoC'] = soc

        df['E_rede_1'] = df.El_KW - df.Eb
        
        conditions = [
            (df['Hora']>=0) & (df['Hora']<17.50),
            (df['Hora']>=17.50) & (df['Hora']<18.50),
            (df['Hora']>=18.50) & (df['Hora']<21.50),
            (df['Hora']>=21.50) & (df['Hora']<22.50),
            (df['Hora']>=22.50) & (df['Hora']<24.00),
        ]

        values = ['barata', 'intermediaria', 'cara', 'intermediaria','barata']

        df['taxa'] = np.select(conditions, values)


        df.loc[df['taxa'] == 'barata', 'tarifa'] = df.E_rede_1*(5/60)*0.48
        df.loc[df['taxa'] == 'intermediaria', 'tarifa'] = df.E_rede_1*(5/60)*0.79
        df.loc[df['taxa'] == 'cara', 'tarifa'] = df.E_rede_1*(5/60)*1.23

        print(abs(sum(df.tarifa)))

dfs_para_scripts\belem_SA2_2kWp_2013.csv.xlsx
1648.6990151757086
dfs_para_scripts\cuiaba_htrue_SA2_2kWp_2013.csv.xlsx
1846.8423990085407
dfs_para_scripts\portoalegre_htrue_SA2_2kWp_2013.csv.xlsx
1809.888026023057
dfs_para_scripts\recife_SA2_2kWp_2013.csv.xlsx
982.8267583647258
dfs_para_scripts\saopaulo_htrue_SA2_2kWp_2013.csv.xlsx
2064.0948498435496
dfs_para_scripts\Timeseries_41.154_-8.591_SA2_2kWp_crystSi_0_34deg_1deg_2013_2013.csv.xlsx
1852.2881865072022
dfs_para_scripts\x.xlsx
1648.6990151757086

In [9]:
execfile('agente_simples.py')

In [10]:
import pandas as pd
import os

directory = 'dfs_para_scripts'



for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)
        eb, soc, df = sistsimples(f)

        df['Eb'] = eb

        df['SoC'] = soc

        df['E_rede_1'] = df.El_KW - df.Eb
        
        conditions = [
            (df['Hora']>=0) & (df['Hora']<17.50),
            (df['Hora']>=17.50) & (df['Hora']<18.50),
            (df['Hora']>=18.50) & (df['Hora']<21.50),
            (df['Hora']>=21.50) & (df['Hora']<22.50),
            (df['Hora']>=22.50) & (df['Hora']<24.00),
        ]

        values = ['barata', 'intermediaria', 'cara', 'intermediaria','barata']

        df['taxa'] = np.select(conditions, values)


        df.loc[df['taxa'] == 'barata', 'tarifa'] = df.E_rede_1*(5/60)*0.48
        df.loc[df['taxa'] == 'intermediaria', 'tarifa'] = df.E_rede_1*(5/60)*0.79
        df.loc[df['taxa'] == 'cara', 'tarifa'] = df.E_rede_1*(5/60)*1.23

        print(abs(sum(df.tarifa)))

dfs_para_scripts\belem_SA2_2kWp_2013.csv.xlsx
1712.2985830706068
dfs_para_scripts\cuiaba_htrue_SA2_2kWp_2013.csv.xlsx
1928.8615539086372
dfs_para_scripts\portoalegre_htrue_SA2_2kWp_2013.csv.xlsx
1883.9640331822866
dfs_para_scripts\recife_SA2_2kWp_2013.csv.xlsx
1026.4927205481256
dfs_para_scripts\saopaulo_htrue_SA2_2kWp_2013.csv.xlsx
2161.734524850977
dfs_para_scripts\Timeseries_41.154_-8.591_SA2_2kWp_crystSi_0_34deg_1deg_2013_2013.csv.xlsx
1926.615309095034
dfs_para_scripts\x.xlsx
1712.2985830706068

In [10]:
import pandas as pd
import os

directory = 'dfs_para_scripts'

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)
        eb, df = sistsimples(f)

        df['Eb'] = eb

        # df['SoC'] = soc

        df['E_rede_1'] = df.El_KW - df.Eb
        
        conditions = [
            (df['Hora']>=0) & (df['Hora']<17.50),
            (df['Hora']>=17.50) & (df['Hora']<18.50),
            (df['Hora']>=18.50) & (df['Hora']<21.50),
            (df['Hora']>=21.50) & (df['Hora']<22.50),
            (df['Hora']>=22.50) & (df['Hora']<24.00),
        ]

        values = ['barata', 'intermediaria', 'cara', 'intermediaria','barata']

        df['taxa'] = np.select(conditions, values)


        df.loc[df['taxa'] == 'barata', 'tarifa'] = df.E_rede_1*(5/60)*0.48
        df.loc[df['taxa'] == 'intermediaria', 'tarifa'] = df.E_rede_1*(5/60)*0.79
        df.loc[df['taxa'] == 'cara', 'tarifa'] = df.E_rede_1*(5/60)*1.23

        print(abs(sum(df.tarifa)))

dfs_para_scripts\belem_SA2_2kWp_2013.csv.xlsx
1679.3560791674759
dfs_para_scripts\cuiaba_htrue_SA2_2kWp_2013.csv.xlsx
1902.8801254091748
dfs_para_scripts\portoalegre_htrue_SA2_2kWp_2013.csv.xlsx
1838.8773150031877
dfs_para_scripts\recife_SA2_2kWp_2013.csv.xlsx
980.8933645620025
dfs_para_scripts\saopaulo_htrue_SA2_2kWp_2013.csv.xlsx
2128.879559455891
dfs_para_scripts\Timeseries_41.154_-8.591_SA2_2kWp_crystSi_0_34deg_1deg_2013_2013.csv.xlsx
1899.517358049456
dfs_para_scripts\x.xlsx
1679.3560791674759